{% extends 'deckhub/base.html' %}
{% load humanize %}

{% block content %}
    <h2>My decks</h2>
<a href="{% url 'deck_create' %}" role="button">Create new deck</a>


    {% for deck in object_list %}
        {% ifchanged %}
            <article>
            <a href="{% url 'deck_edit' deck.id%}" role="button">Rename</a>
            <a href="{% url 'deck_delete' deck.id %}" role="button">Delete</a>
            <h7>Card{{ deck.cards_count | pluralize  }} in deck: {{ deck.cards_count }}</h7>
            <h7>Card{{ deck.reviews_count | pluralize  }} for today: {{ deck.reviews_count }}</h7>

            <h3><a href="{% url 'deck_content' deck.slug %}">Deck {{ deck.name | ordinal}}</a></h3>


            <a href="{% url 'card_create' deck.slug %}" role="button">Add new card</a>


            </article>
        {% endifchanged %}
    {% endfor %}

{% endblock content %}