{% extends 'deckhub/base.html' %}

{% load cards_tags %}
{% load decks_tags %}
{% load humanize %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2 class="pb-2  mb-2 border-bottom display-3 text-center text-dark">
                {{ deck_name }}
            </h2>
        </div>
    </div>
    <div class="study-panel text-dark px-5 pt-1">

        <div class="row">
            <div class="col">
            {% deck_study_panel_stats slug %}
            </div>
        </div>
    </div>


    <div class="content">
        {% for card in object_list %}
            <div class="content-block ">
                {% include "cards/card.html" %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
