{% extends 'deckhub/base.html' %}

{% load cards_tags %}
{% load decks_tags %}
{% load humanize %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2 class="pb-2 mb-2 border-bottom display-3 text-center text-dark">
                {{ deck_name }}
            </h2>
        </div>
    </div>
    <div class="study-panel text-dark px-5 pt-1">

        <div class="row">
            <div class="col">
            {% deck_study_panel_stats slug %}
            </div>
        </div>
    </div>

<div class="content p-sm-4 p-3">

    <div class="scrollable-container my-2 ms-1" style="max-height: 600px; overflow-y: auto;">
        <div id="contentInner" class="">
        {% if object_list %}
            {% for card in object_list %}
                <div class="content-block mb-sm-3 mb-2">
                    {% include "cards/card.html" %}
                </div>
            {% endfor %}
        {% else %}
                    <div class="text-center my-auto fs-6">📂💫☁️  This deck is empty. Please add new cards to get started.</div>
        {% endif %}
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        var scrollableContainer = document.querySelector('.scrollable-container');
        var contentInner = document.getElementById('contentInner');

        if (scrollableContainer.scrollHeight > scrollableContainer.clientHeight) {
            contentInner.classList.add('me-2');
        }
    });
</script>
{% endblock content %}

