{% extends 'deckhub/base.html' %}
{% load humanize %}

{% block content %}

    <div class="topbar d-flex flex-column align-items-center mt-4">

        <h1 class="display-5">My decks</h1>

        <div class="mt-3 mb-4">
            <div class="circle">
                <a href="{% url 'deck_create' %}" class='fw-medium fs-5 circle'
                   style="text-decoration: none;">Create</a>
            </div>
        </div>
    </div>

    <div class="content">
    {% if not object_list %}
        <h5 class="text-center my-auto">The deck is empty. Please, create a new deck.</h5>
    {% endif %}

        {% for deck in object_list %}
            {% ifchanged %}
                <div class="content-block mb-sm-4 mb-3">
                    <div class="row">
                        <div class="col-sm-7 col-12 order-2">
                            <div class="row">
                                <h2 class="pb-2 border-bottom"><a class="deck-name"
                                                                  href="{% url 'deck_content' deck.slug %}">{{ deck.name | ordinal }}</a>
                                </h2>
                            </div>
                            <div class="row d-flex align-items-center text-nowrap">
                                <div class="col-md-6 col-12"><p>Card{{ deck.cards_count | pluralize }} in
                                    deck: {{ deck.cards_count }}</p></div>
                                <div class="col-md-6 col-12 text-center">
                                    {% if deck.reviews_count %}
                                        <p class="text-bg-light rounded-pill text-nowrap">
                                            Card{{ deck.reviews_count | pluralize }} for
                                            today: {{ deck.reviews_count }}</p>
                                    {% endif %}
                                </div>

                            </div>

                        </div>
                        <div class="col-sm-5 col-12 order-sm-2 my-auto pb-2 pb-sm-0">
                            <div class="row align-items-top">
                                <div class="col-sm-9 col-10 d-flex justify-content-end">
                                    <a href="{% url 'card_create' deck.slug %}" role="button"
                                       class="btn btn-dark add-card-decks text-nowrap py-sm-4 me-3 me-sm-0">
                                        Add card
                                    </a>
                                </div>

                                <div class="col-sm-3 col-2" style="margin-top: -12px;">
                                    <div class="row">
                                        <div class="d-flex justify-content-end mt-2 mt-sm-0">
                                            <a href="{% url 'deck_edit' deck.id %}"
                                               class="link-button-hover me-md-0 me-2" role="button"
                                               data-bs-toggle="tooltip" data-bs-placement="top" title="Rename">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor"
                                                     class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                    <path fill-rule="evenodd"
                                                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                                </svg>
                                            </a>
                                            <a href="{% url 'deck_delete' deck.slug %}" class="link-button-hover me-2 me-sm-0"
                                               role="button"
                                               data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor"
                                                     class="bi bi-x-lg" viewBox="0 0 16 16">
                                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endifchanged %}
        {% endfor %}
    </div>


{% endblock content %}




