{% load static %}
{% if request.session.auth_method != 'telegram' %}
<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container" style="padding-inline: 20px;">
        <a class="navbar-brand" href="/">AnkiChat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
                <div class="row gx-8 mt-md-0 mt-3">
                    <div class="col">
                        <a class="btn btn-primary btn-sm w-100" aria-current="page"
                           href="{% url 'decks_list' %}">Decks</a>
                    </div>

                    <div class="col">
                        {% if user.telegram_id %}
                            <a class="btn btn-primary telegram-button-navbar  w-100 text-nowrap btn-sm"
                               href="https://t.me/{{ BOT_NAME }}?start=some_parameter">
                                <i></i>Telegram AnkiChatBot
                            </a>
                        {% else %}
                            <a class="btn btn-primary telegram-button-navbar  w-100 text-nowrap btn-sm"
                               href="{% url 'users:profile' %}">
                                <i></i>Connect Telegram Account
                            </a>
                        {% endif %}


                    </div>

                </div>
            {% endif %}


            <ul class="navbar-nav me-auto">
            </ul>


            <div class="row gx-2 mt-md-0 mt-3">
                {% if user.is_authenticated %}
                    <div class="btn-group">
                        <a href="{% url 'users:profile' %}" type="button"
                           class="profile-icon dropdown-toggle d-none d-md-block"
                           data-bs-toggle="dropdown" aria-expanded="false" style="z-index: 9999;">
                            <img src="{% static 'profile.png' %}" width="70" height="70" alt="Person">
                        </a>


                        <ul class="nav mx-auto d-flex flex-row d-block d-md-none justify-content-between w-100 shadow-container">
                            <li class="nav-item">
                                <a class="nav-link text-center text-white d-flex align-items-center justify-content-center"
                                   aria-current="page" href="{% url 'users:profile' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"
                                         class="me-2">
                                        <path fill="#ffffff"
                                              d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/>
                                    </svg>
                                    Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-center text-white d-flex align-items-center justify-content-center"
                                   href="#" data-bs-toggle="modal" data-bs-target="#contactModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5"
                                         viewBox="0 0 448 512" class="me-2">
                                        <path fill="#ffffff"
                                              d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zM218 271.7L64.2 172.4C66 156.4 79.5 144 96 144l256 0c16.5 0 30 12.4 31.8 28.4L230 271.7c-1.8 1.2-3.9 1.8-6 1.8s-4.2-.6-6-1.8zm29.4 26.9L384 210.4 384 336c0 17.7-14.3 32-32 32L96 368c-17.7 0-32-14.3-32-32l0-125.6 136.6 88.2c7 4.5 15.1 6.9 23.4 6.9s16.4-2.4 23.4-6.9z"/>
                                    </svg>
                                    Contact with us
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-center text-white d-flex align-items-center justify-content-center"
                                   href="{% url 'users:logout' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"
                                         class="me-2">
                                        <path fill="#ffffff"
                                              d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"/>
                                    </svg>
                                    Logout
                                </a>
                            </li>
                        </ul>


                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item d-flex align-items-center fw-semibold"
                                   href="{% url 'users:profile' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512">
                                    <path fill="#ffffff"
                                          d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464l349.5 0c-8.9-63.3-63.3-112-129-112l-91.4 0c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3z"/>
                                </svg>
                                <span class="ms-2">Profile</span></a></li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center fw-semibold"
                                   href="#" data-bs-toggle="modal" data-bs-target="#contactModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20"
                                         viewBox="0 0 512 512">
                                        <path fill="#ffffff"
                                              d="M160 368c26.5 0 48 21.5 48 48l0 16 72.5-54.4c8.3-6.2 18.4-9.6 28.8-9.6L448 368c8.8 0 16-7.2 16-16l0-288c0-8.8-7.2-16-16-16L64 48c-8.8 0-16 7.2-16 16l0 288c0 8.8 7.2 16 16 16l96 0zm48 124l-.2 .2-5.1 3.8-17.1 12.8c-4.8 3.6-11.3 4.2-16.8 1.5s-8.8-8.2-8.8-14.3l0-21.3 0-6.4 0-.3 0-4 0-48-48 0-48 0c-35.3 0-64-28.7-64-64L0 64C0 28.7 28.7 0 64 0L448 0c35.3 0 64 28.7 64 64l0 288c0 35.3-28.7 64-64 64l-138.7 0L208 492z"/>
                                    </svg>
                                    <span class="ms-2">Contact with us</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center fw-semibold"
                                   href="{% url 'users:logout' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                         class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                                        <path fill-rule="evenodd"
                                              d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                                    </svg>
                                    <span class="ms-2">Exit</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                {% else %}
                    <div class="col d-flex align-items-center">
                        <a href="{% url 'users:login' %}" class="btn btn-success text-nowrap w-100" role="button"
                           style="border-radius: 4px;">Log in</a>
                    </div>
                    <div class="col d-flex align-items-center">
                        <a href="{% url 'users:registration' %}" class="btn btn-outline-success text-nowrap w-100"
                           role="button"
                           style="border-radius: 4px; border: 0;">Sign up</a>
                    </div>
                {% endif %}
            </div>

            </dif>
        </div>
    </div>
</nav>
    {% else %}
    <div class="my-5"></div>
{% endif %}


<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="contactModalLabel">Contact Us</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>If you have any questions or need further assistance, you can reach us through the following
                    channels:</p>
                <ul>
                    <li><strong>Email:</strong> You can send us an email at <a href="mailto:support@ankichat.com">support@ankichat.com</a>.
                    </li>
                    <li><strong>Telegram:</strong> You can also contact us via Telegram. Click the link below to open
                        our Telegram profile:
                    </li>
                </ul>
            </div>
            <div class="modal-footer justify-content-center">
                <a href="https://t.me/ankichat" target="_blank" class="btn btn-outline-success w-100 text-center">
                    Open Telegram
                </a>
            </div>
        </div>
    </div>
</div>
