{% load static %}
<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container" style="padding-inline: 20px;">
        <a class="navbar-brand" href="#">AnkiChat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="row gx-8 mt-md-0 mt-3">
                <div class="col">
                    <a class="btn btn-primary btn-sm w-100" aria-current="page" href="{% url 'decks_list' %}">Decks</a>
                </div>

                <div class="col">
                    <a class="btn btn-primary telegram-button-navbar  w-100 text-nowrap btn-sm"
                       href="http://localhost/users/telegram/callback/?id=7390715192&first_name=Platon&last_name=Cross&username=platon_cross&auth_date=1723746975&hash=e1a2cd49dd85aa71ce5edf003f3a358103fcecca0bb7e15dec78c7a7bc3e8fa4">
                        <i></i>Telegram AnkiChatBot
                    </a>
                </div>
                
            </div>

            <ul class="navbar-nav me-auto">
            </ul>


            <div class="row gx-2 mt-md-0 mt-3">
                {% if user.is_authenticated %}
                    <div class="btn-group">
                        <a href="{% url 'users:profile' %}" type="button" class="profile-icon dropdown-toggle"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'profile.png' %}" width="70" height="70" alt="Person">

                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item d-flex align-items-center fw-medium"
                                   href="{% url 'users:profile' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                     class="bi bi-person-square" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                </svg>

                                <span class="ms-2">Profile</span></a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center fw-semibold"
                                   href="{% url 'users:logout' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                         class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                                        <path fill-rule="evenodd"
                                              d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                                    </svg>
                                    <span class="ms-2">Exit</span> <!-- Добавляем отступ слева для текста -->
                                </a>
                            </li>

                        </ul>
                    </div>

                {% else %}
                    <div class="col d-flex align-items-center">
                        <a href="{% url 'users:login' %}" class="btn btn-success text-nowrap w-100" role="button"
                           style="border-radius: 4px;">Log in</a>
                    </div>
                    <div class="col d-flex align-items-center">
                        <a href="{% url 'users:registration' %}" class="btn btn-outline-success text-nowrap w-100"
                           role="button"
                           style="border-radius: 4px; border: 0;">Sign up</a>
                    </div>
                {% endif %}
            </div>
            </dif>
        </div>
    </div>
</nav>


{##}
{#{% load static %}#}
{#<nav class="navbar navbar-expand-md bg-body-tertiary">#}
{#    <div class="container" style="padding-inline: 20px;">#}
{#        <a class="navbar-brand" href="#">AnkiChat</a>#}
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"#}
{#                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#            <dif class="d-flex flex-row gap-3 ">#}
{#                <a class="btn btn-primary btn-sm" aria-current="page" href="{% url 'decks_list' %}">Decks</a>#}
{##}
{#            </dif> #}
{#            <dif class="d-flex flex-row gap-3 ">#}
{#                <a class="btn btn-primary btn-sm" aria-current="page" href="{% url 'decks_list' %}">Decks</a>#}
{##}
{#            </dif>#}
{#                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
{#                            <li class="ms-2 nav-item">#}
{#                                <a class="btn btn-primary btn-sm" aria-current="page" href="{% url 'decks_list' %}">Decks</a>#}
{#                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a class="nav-link" href="#">Ссылка</a>#}
{#                                            </li>#}
{#                                    <li class="nav-item dropdown">#}
{#                                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                                        Выпадающий список#}
{#                                      </a>#}
{#                                      <ul class="dropdown-menu">#}
{#                                        <li><a class="dropdown-item" href="#">Действие</a></li>#}
{#                                        <li><a class="dropdown-item" href="#">Другое действие</a></li>#}
{#                                        <li><hr class="dropdown-divider"></li>#}
{#                                        <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>#}
{#                                      </ul>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                      <a class="nav-link disabled" aria-disabled="true">Отключенная</a>#}
{#                                    </li>#}
{##}
{#                        </ul>#}
{##}
{#            <dif class="d-flex flex-row gap-3 ">#}
{#                {% if user.is_authenticated %}#}
{#                    <div class="btn-group">#}
{#                        <a href="{% url 'users:profile' %}" type="button" class="profile-icon dropdown-toggle"#}
{#                           data-bs-toggle="dropdown" aria-expanded="false">#}
{#                            <img src="{% static 'profile.png' %}" width="70" height="70" alt="Person">#}
{##}
{#                        </a>#}
{#                        <ul class="dropdown-menu">#}
{#                            <li><a class="dropdown-item d-flex align-items-center fw-medium"#}
{#                                   href="{% url 'users:profile' %}">#}
{#                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"#}
{#                                     class="bi bi-person-square" viewBox="0 0 16 16">#}
{#                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>#}
{#                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>#}
{#                                </svg>#}
{##}
{#                                <span class="ms-2">Profile</span></a></li>#}
{#                            <li>#}
{#                                <hr class="dropdown-divider">#}
{#                            </li>#}
{#                            <li>#}
{#                                <a class="dropdown-item d-flex align-items-center fw-semibold"#}
{#                                   href="{% url 'users:logout' %}">#}
{#                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"#}
{#                                         class="bi bi-box-arrow-left" viewBox="0 0 16 16">#}
{#                                        <path fill-rule="evenodd"#}
{#                                              d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>#}
{#                                        <path fill-rule="evenodd"#}
{#                                              d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>#}
{#                                    </svg>#}
{#                                    <span class="ms-2">Exit</span> <!-- Добавляем отступ слева для текста -->#}
{#                                </a>#}
{#                            </li>#}
{##}
{#                        </ul>#}
{#                    </div>#}
{##}
{#                {% else %}#}
{#                    <a href="{% url 'users:login' %}" class="btn btn-success my-auto" role="button"#}
{#                       style="border-radius: 4px;">Log in</a>#}
{#                    <a href="{% url 'users:registration' %}" class="btn btn-outline-success my-auto" role="button"#}
{#                       style="border-radius: 4px; border: 0">Sing up</a>#}
{#                {% endif %}#}
{#            </dif>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
{##}
{##}
{#GOOGLE API AIzaSyCOwWQfVOGGnqS0uucnQnGrcEFKTfX26IE#}
