{% extends 'deckhub/base.html' %}
{% load static %}



{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="content p-sm-4 p-3 mb-4">
                <div class="content-block shadow-sm mb-4 bg-body-tertiary rounded-5 text-center">
                    <div class="row mb-4">
                        <div class="col-2">
                            <a href="{% url 'deck_content' slug %}" class="link-button-close " role="button"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top" title="Close">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                     fill="currentColor"
                                     class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                </svg>
                            </a>
                        </div>

                        <div class="col-8">
                            <h2> Import cards</h2>
                        </div>
                        <div class="col-2">

                        </div>
                    </div>

                    <form method="post">
                        {% csrf_token %}
                        <div class="row mb-4">
                            <div class="col">
                                {{ form.text.label }}
                                {{ form.text }}
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col">
                                <div class="row mb-2">
                                    <div class="col">
                                        <label>{{ form.words_separator.label }}</label>
                                    </div>
                                </div>

                                <div class="row ms-3 ms-sm-0">
                                    <div class="col">
                                        <div class="form-group d-flex flex-wrap flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-center ">

                                            {% for radio in form.words_separator %}
                                                <div class="form-check form-check-inline">
                                                    {{ radio.tag }}
                                                    <label class="form-check-label"
                                                           for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                                </div>
                                            {% endfor %}

                                            {{ form.words_separator_custom }}
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col">

                                <div class="row mb-2">
                                    <div class="col">
                                        <label>{{ form.words_separator.label }}</label>

                                    </div>
                                </div>

                                <div class="row ms-3 ms-sm-0">
                                    <div class="col">
                                        <div class="form-group d-flex flex-wrap flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-center ">
                                            {% for radio in form.cards_separator %}
                                                <div class="form-check form-check-inline">
                                                    {{ radio.tag }}
                                                    <label class="form-check-label"
                                                           for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                                </div>
                                            {% endfor %}
                                            {#            <div class="w-100 d-block d-md-none"></div> <!-- Обеспечивает перенос custom поля на новую строку на маленьких экранах -->#}
                                            {{ form.cards_separator_custom }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-light btn-lg">Import</button>
                    </form>

                    <h3 id="card-count" class="mt-5">Cards for import: 0</h3>

                    <div id="preview-container" class='content-block shadow-sm p-3 my-4 bg-body-tertiary rounded-5'
                         style="display: none;">
                        <div id="preview"></div>
                    </div>
                    <script type="module" src="{% static 'js/cards/import.js' %}"></script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
