{% load cards_tags %}
{% load cards_filters %}
{% load humanize %}



<div class="row">
    <div class="col-10">
        <div class="row">
            {% if card.mappings__review_date %}
                <p class="text-info mb-1" style="font-size: 0.8em"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
</svg> {{ card.mappings__review_date | time_left }} </p>
            {% endif %}
        </div>
        <div class="row d-flex align-items-center">

            <h4 class="mt-0 mb-1">{{ card.front_side }}</h4>
        </div>
        <div class="row d-flex align-items-center">
            <p class="mb-0 mt-1">{{ card.back_side }}</p>

        </div>
    </div>
    <div class="col-2 d-flex align-items-center flex-row-reverse">
        <div class="row">
            <div class="d-flex flex-column align-items-end">
                <a href="{% url 'card_edit' slug card.id %}" class="link-button-hover " role="button"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top" title="Rename">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         fill="currentColor"
                         class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                </a>
                <a href="{% url 'card_delete' slug card.id %}" class="link-button-hover " role="button"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top" title="Delete">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         fill="currentColor"
                         class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>


{% include 'cards/card_check_form.html' with rating=5 easiness=card.mappings__easiness %}









