{% load cards_tags %}
<article>
    {% include 'cards/edit_card.html' %}
    <br>
    <a href="{% url 'card_delete' slug card.id  %}" role="button">Delete</a>

    <h4>{{ card.front_side }}</h4>
    <h6>{{ card }}</h6>
    {% if not check_card %}
        <p>{{ card.back_side }}</p>
        <hr>
    {% else %}
        <details>
            <summary>Reveal Answer</summary>
            <p>{{ card.back_side }}</p>
        </details>

        <div class="button-container">
            {% boxes_of_rating as bor %}
            {% for box in bor.rating_boxes %}
                {% include 'cards/card_check_form.html' with rating=box.number count=box.card_count %}
            {% endfor %}

            </div>
    {% endif %}
</article>
