{% extends "cards/base.html" %}
{% load cards_tags %}
{% load humanize %}

{% block content %}
    <h2>
        {{ deck_name }}
    </h2>
    {% deck_study_panel_stats slug %}

{#    <a href="{% url 'import_cards' slug %}">Import cards</a>#}
{#    {% include 'cards/create_new_card.html' %}#}
{#    <br>#}
{#    <a href="{% url 'learn_cards' slug %}?study_mode=new">Study new cards</a>#}
{#    <a href="{% url 'learn_cards' slug %}?study_mode=review">Review cards</a>#}


    {% for card in object_list %}
        {% ifchanged %}
        {% endifchanged %}
        {% include "cards/card.html" %}
    {% endfor %}
{% endblock content %}