<form method="post">
    {% csrf_token %}
    <input type="hidden" name="mappings" value="{{ card.mappings }}">
    <input type="hidden" name="rating" value="{{ rating }}">
    {% if rating == 4 %}
        <input type="submit" value="✅ Light {{ count }}"/>
    {% elif rating == 3 %}
        <input type="submit" value="✅ Good {{ count }}"/>
    {% elif rating == 2 %}
        <input type="submit" value="✅ Hard {{ count }}"/>
    {% elif rating == 1 %}
        <input type="submit" value="❌ Again {{ count }}"/>
    {% endif %}
</form>