{% extends 'deckhub/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <div class="content pt-2 px-4 mb-4 ">
                {% include 'users/messages.html' with error_message=form.errors messages=messages %}
                <div class="content-block shadow-sm p-3 my-4 bg-body-tertiary rounded-5 text-center">
                    <div class="row">
                        <div class="col-12 col-md-10 col-sm-9 mx-auto">
                            <div class="d-flex flex-column">
                                <h2>{{ title }}</h2>
                                {% if title == 'Registration' %}
                                    <form method="post">
                                    {% csrf_token %}
                                    {#                                    <div class="form-floating mb-3 mt-3">#}
                                    {#                                        {{ form.username }}#}
                                    {#                                        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>#}
                                    {#                                    </div>#}

                                    <div class="form-floating mb-3 mt-2">
                                        {{ form.email }}
                                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        {{ form.password1 }}
                                        <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                                    </div>


                                {% elif title == 'Login' %}
                                    <form method="post">
                                    {% csrf_token %}
                                    <div class="form-floating mb-3 mt-2">
                                        {{ form.username }}
                                        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        {{ form.password }}
                                        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                                    </div>

                                {% elif title == 'Profile' %}
                                    <form method="post">
                                    {% csrf_token %}
                                    {#                                    <div class="form-floating mb-3 mt-2">#}
                                    {#                                        {{ form.username }}#}
                                    {#                                        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>#}
                                    {#                                    </div>#}

                                    <div class="form-floating mb-3 mt-2">
                                        {{ form.email }}
                                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        {{ form.password }}
                                        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                                    </div>

                                    {#                            <div class="form-floating mb-3">#}
                                    {#                                {{ form.password }}#}
                                    {#                                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>#}
                                    {#                            </div>#}

                                {% endif %}
                                <button type="submit" class="btn btn-warning w-100">Continue</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% if title == 'Registration' %}
                                <p class="other-page mt-4 mb-0">Already have an account?
                                    <a class="other-page-link" href="/users/login/">Sign in</a>
                                </p>
                            {% elif title == 'Login' %}
                                <p class="other-page mt-4 mb-0">Don't have an account?
                                    <a class="other-page-link" href="/users/registration/">Sign up</a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9 col-sm-10 mx-auto">

                        <div class="divider">
                            <span>or</span>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="content-block shadow-sm p-3 my-4 bg-body-tertiary rounded-5 text-center">
                            <div class="row">
                                <div class="col-12 col-md-10 col-sm-9 mx-auto">

                                    <div class="d-flex flex-column">

                                        <a href="http://localhost/users/telegram/callback/?id=7390715192&first_name=Platon&last_name=Cross&username=platon_cross&auth_date=1723746975&hash=e1a2cd49dd85aa71ce5edf003f3a358103fcecca0bb7e15dec78c7a7bc3e8fa4"
                                           class="telegram-button">
                                            <i></i>Войти через Telegram
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}