
.hidden {
    display: none !important;
}



header, footer, section {
    padding: 0 0 70px 0;
}

@media (max-width: 576px) {
    header, footer, section {
        padding: 0 0 10px 0;
    }
}


body {
    background-color: #dee2e6;
    min-width: 365px;
    max-height: 400px;
}

.container {
    max-width: 800px;
}

.content {
    border-radius: 46px;

    background-color: rgb(33, 37, 41);
    padding: 0.8rem !important; /* 16px */
    margin-bottom: 1.5rem !important;
}

@media (min-width: 576px) {
    .content {
        border-radius: 57.2px;

        padding: 1.5rem !important; /* 24px */
    }
}

.study-panel {
    /*border-radius: 66px;*/
    /*background-color: rgb(33, 37, 41);*/
    padding: 20px;
    /*border: 3px solid rgb(33, 37, 41);*/
    margin-bottom: 30px;
    /*box-shadow: 0px 20px 20px 4px rgba(0, 0, 0, 0.2);*/
}

article {
    border-radius: 21px;
}

.topbar {
    color: rgb(33, 37, 41);

}

.btn-outline-secondary:hover {
    background-color: #f3f3f3;
}

.circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: rgb(33, 37, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dee2e6;
    font-size: 16px; /* Размер текста */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Внешняя тень */
    position: relative;
    transition: background-color 0.3s, color 0.15s,
    box-shadow 0.3s; /* Плавный переход */
    text-align: center; /* Центрирование текста */
}


.circle a {
    color: inherit; /* Унаследовать цвет */
    text-decoration: none; /* Убрать подчеркивание */
    z-index: 1; /* Обеспечить, что ссылка будет над псевдоэлементом */
}

.circle:hover {
    background-color: #dee2e6;
    color: black; /* Цвет текста при наведении */
    box-shadow: none; /* Убрать внешнюю тень при наведении */
}


.circle:hover a {
    color: black; /* Цвет текста при наведении */
}


/*a:hover, a:focus, a:active {*/
/*    color: inherit; !* Наследовать цвет текста от родителя *!*/
/*    text-decoration: none; !* Убрать подчеркивание *!*/
/*}*/

/*a {*/
/*    color: inherit; !* Наследовать цвет текста от родителя *!*/
/*    text-decoration: none; !* Убрать подчеркивание *!*/
/*}*/


/*.content a:hover, a:focus, a:active, a:visited, a {*/
/*    color: inherit; !* Наследовать цвет текста от родителя *!*/
/*    text-decoration: none; !* Убрать подчеркивание *!*/
/*}*/


.link-button-hover, #qqq {
    text-decoration: none;
    width: 30px !important;
    height: 30px!important;
    position: relative;
    transition: background-color 0.1s, color 0.3s; /* Плавный переход */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*color: inherit;*/

}

.link-button-hover[title="Rename"] {
    /*color: var(--bs-purple);*/
    color: #fff;
        width: 30px !important;
    height: 30px!important;

}

.link-button-hover[title="Delete"] {
    /*color: var(--bs-red);*/
    color: #fff;
        width: 30px !important;
    height: 30px!important;
}

/* Стили для состояния hover */
.link-button-hover:hover {
    background-color: rgb(33, 37, 41); /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
        width: 30px !important;
    height: 30px!important;
}


.link-button-close {
    text-decoration: none;
    width: 44px;
    height: 44px;
    position: relative;
    transition: background-color 0.1s, color 0.3s; /* Плавный переход */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*color: inherit;*/

}

.link-button-close[title="Close"] {
    /*color: var(--bs-purple);*/
    color: #fff;

}


/* Стили для состояния hover */
.link-button-close:hover {
    background-color: rgb(33, 37, 41); /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
}

.create-card-add {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3px solid;
}

.create-card-add:hover {
    border-color: transparent;
}

.form-control:focus[name='side2'],
.form-control:focus[name='side1'],
.form-select:focus[name='category'] {
    border-color: #00f3ff;
}

/*.form-check-input:focus[name="is_two_sides"] {*/
/*    border-color: #00f3ff;*/
/*    outline: 0;*/
/*    box-shadow: 0 0 0 .25rem rgb(4, 226, 255);*/

.add-card-decks {
    height: 100%; /* Высота кнопки 100% от высоты родителя */
    width: 100%;
    display: flex; /* Flexbox для центрирования содержимого */
    align-items: center; /* Вертикальное центрирование */
    justify-content: center; /* Горизонтальное центрирование */
    border-radius: 12px;
    transition: .2s linear;
}

.add-card-decks:hover {
    background-color: rgb(0 0 0 / 13%);
    box-shadow: 0px -6px 0 #08080c inset;
    border: rgb(0 0 0 / 13%);
}

@media (min-width: 576px) {
    .add-card-decks {
        border-radius: 1px;
    }
}


.buttons-study-panel {
    height: 60px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0 40px;
    border: 1px solid #2b2f32;
    transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
    margin-bottom: 20px;
    position: relative; /* Положение для абсолютного позиционирования */
    text-decoration: none; /* Убрать подчеркивание */
    color: inherit; /* Наследовать цвет */
}

.buttons-study-panel:hover {
    background-color: #bfbfbf42;
    border: 1px solid rgba(0, 0, 0, 0);
    transform: none; /* Убираем любые трансформации при наведении */
    border-radius: 0;
}

.buttons-study-panel a {
    color: inherit; /* Наследуем цвет от родительского элемента */
    text-decoration: none; /* Убираем декорирование ссылки */
}

.button-study-panel-disable a {
    height: 60px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0 40px;
    border: 1px solid #2b2f32;
    margin-bottom: 20px;
    background-color: transparent;
}


/*.deck-name a:*/
.deck-name {
    color: var(--bs-yellow);
    text-decoration: none;
    width: 100%;
    /*height: 70px;*/
    position: relative;
    transition: background-color 0.1s, color 0.3s; /* Плавный переход */
    border-radius: 10px;
    display: flex;
    align-items: center;
    /*justify-content: center;*/


}

.deck-name:hover {
    background-color: rgb(0 0 0 / 13%);
    color: #fff; /* Цвет текста при наведении */
    padding-left: 1px;
    border-radius: 3px;
    box-shadow: -7px 0 0 rgb(0 0 0 / 13%);
}

.deck-for-review {
    background-color: var(--bs-red);
}


button.similar-words:hover {
    background-color: var(--bs-secondary-text-emphasis);
    color: #212529; /* Цвет текста при наведении */
    border: 1px solid #212529; /* Граница при наведении */

}

button.correct-choice {
    background-color: #28a745 !important; /* Зеленый фон для правильного ответа */
    color: white !important; /* Белый текст */
    border-color: #28a745; /* Зеленая граница */
    font-weight: bold;
}

button.wrong-choice {
    background-color: #dc3545 !important; /* Красный фон для ошибочного ответа */
    color: white; /* Белый текст */
    border-color: #dc3545; /* Красная граница */
}


.letter {
    margin: 2px 5px;
    padding: 15px;
    border: 1px solid #080707;
    cursor: pointer;
    background-color: #6c757d;
    width: max-content;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 5px; */
    /* color: #ffffff; */
    font-weight: bold;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    transition: background-color 0.3s, transform 0.2s;
}

.letter:hover {
    background-color: #495057;
    color: #ffffff; /* Цвет текста при наведении */
    transform: translateY(-3px); /* Подъем при наведении */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Тень при наведении */
}

.letter:active {
    background-color: #343a40;
    transform: translateY(-1px); /* Снижение при клике */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Тень при клике */
}


.inactive {
    pointer-events: none;
    background-color: var(--bs-success);
}

.wrong-letter {
    background-color: var(--bs-red);
}

.correct-word {
    background-color: lightgreen;
    color: green;
    font-weight: bold;
}

#show-back-btn {
    padding: 15px;
    border: 1px solid #333333;
    cursor: pointer;
    background-color: var(--bs-light);
    color: #000000;
    height: 100px; /* Устанавливаем высоту 100px для всех экранов */
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: inset 20px 5px 20px 7px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

@media (max-width: 576px) {
    #show-back-btn {
        height: 100%; /* Устанавливаем высоту 100% для экранов sm и меньше */
    }
}


#show-back-btn:hover {
    background-color: rgba(255, 255, 255, 0.62); /* Более светлый фон при наведении */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Увеличение тени при наведении */
    transform: translateY(-3px); /* Легкий подъем при наведении */
}

#show-back-btn:active {
    background-color: #222222; /* Более темный фон при клике */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Уменьшение тени при клике */
    transform: translateY(0); /* Возврат к исходному положению при клике */
}

#show-back-btn[disabled] {
    cursor: not-allowed;
    background-color: #343a40;
    border-color: #343a40;
    color: #f8f9fa1c;
    box-shadow: none;
    transform: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}


.btn-hint {
    /* margin: 2px 0; */
    padding: 10px 5px 10px 10px;
    border: 3px solid #090909eb;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: #0f2b46;
    height: 48px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* font-weight: bold; */
    box-shadow: inset 0px -2px 19px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

button.btn-hint:hover {
    background-color: #ffffff; /* Более светлый фон при наведении */
    border: 3px solid #090909eb;
    box-shadow: inset 0px -2px 9px 0px rgba(0, 0, 0, 0.2);

}

button.btn-hint[disabled]:hover {
    cursor: not-allowed;
    background-color: #343a40;
    border-color: #343a40;
    color: rgba(248, 249, 250, 0.18);
    box-shadow: none;
    transform: none;
    border-radius: 0;

}


.btn-hint[disabled] {
    cursor: not-allowed;
    background-color: #343a40;
    border-color: #343a40;
    color: rgba(248, 249, 250, 0.18);
    box-shadow: none;
    transform: none;
    /*margin: 3px;*/
    border-radius: 0;

}

@media (max-width: 576px) {
    #scramble-letters-btn {
        border-bottom-right-radius: 37px;
    }
}

@media (max-width: 576px) {
    #show-first-letters-btn {
        border-bottom-left-radius: 37px;
    }
}


.content-block {
    display: flex;
    flex-direction: column;
    border-radius: 33.9px !important;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
    padding: 1rem !important; /* Padding для больших экранов */
    box-shadow: var(--bs-box-shadow-sm) !important;
}

/* Адаптивный паддинг для экранов размером меньше 576px (sm) */
@media (max-width: 575.98px) {
    .content-block {
        padding: 0.6rem !important; /* Padding для маленьких экранов */
    }
}


.content-block .flex-grow-1 {
    flex-grow: 1;
}


.btn-known {
    /*height: 5.4em;*/
    width: 10.1em;
    margin-inline: 8px;
    /*border-radius: 50%;*/
    border: 3px solid transparent;
    font-weight: bold;
    padding-inline: 0;
    /*margin-left: 2em;*/
}


.btn-mark {
    position: relative;
    width: 100%; /* Ширина 100% от родительского контейнера */
    aspect-ratio: 1 / 1; /* Поддержка пропорции 1:1 (квадрат, который станет кругом из-за border-radius) */
    min-height: 4.8rem;
    min-width: 4.8rem;
    max-height: 10rem;
    max-width: 10rem;
    margin-inline: 8px;
    border-radius: 50%; /* Делает элемент круглым */
    border: 8px solid;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.count {
    position: absolute;
    top: 0.2em;
    font-size: 0.8em;
    color: #00000024;
    width: 100%;
    text-align: center;
}


#easy-count {
    color: var(--bs-danger)
}

.btn-mark:hover #easy-count,
.btn-mark:hover .count {
    color: transparent
}

.text {
    display: block; /* Отображаем текст "Again" */
}

#card-front {
    background-color: transparent;
    border: none;
    font-size: 2.7em;

}

.max-width {
    max-width: 45em;
}

#letters-container {
    max-width: 100%; /* Устанавливаем максимальную ширину контейнера */
    overflow: hidden; /* Скрываем переполнение */
    flex-wrap: wrap; /* Разрешаем перенос элементов на следующую строку */
}

.form-check .form-check-input {
    float: none;
    margin-right: 0.4em;
}

#id_words_separator_custom, #id_cards_separator_custom {
    display: inline;
}

#preview-container {
    max-height: 400px; /* Задайте подходящую высоту */
    overflow-y: auto; /* Включает вертикальную прокрутку при переполнении */
    padding: 10px;
    margin-top: 20px;
}

.card {
    padding: 10px;
    margin-bottom: 10px;
    white-space: pre-wrap; /* Сохраняет пробелы и разрывы строк */
    border-radius: 5px;
}

.modal-delete {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;

    position: fixed;
    /* top: 0; */
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}


.bd-callout-warning {
    --bd-callout-color: var(--bs-warning-text-emphasis);
    --bd-callout-bg: var(--bs-warning-bg-subtle);
    --bd-callout-border: var(--bs-warning-border-subtle);
}

.bd-callout-success {
    --bd-callout-color: var(--bs-success-text-emphasis);
    --bd-callout-bg: var(--bs-success-bg-subtle);
    --bd-callout-border: var(--bs-success-border-subtle);
}

.bd-callout {
    --bs-link-color-rgb: var(--bd-callout-link);
    --bs-code-color: #ea88b8;
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: var(--bd-callout-color, inherit);
    background-color: var(--bd-callout-bg, var(--bs-gray-100));
    border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}


.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 17rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.925rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: var(--bs-body-bg);
    --bs-dropdown-border-color: rgb(56 0 0);
    --bs-dropdown-border-radius: var(--bs-border-radius);
    --bs-dropdown-border-width: var(--bs-border-width);
    --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: var(--bs-box-shadow);
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: #393f45;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 1.2rem;
    --bs-dropdown-item-padding-y: 0.65rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    /* padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x); */
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: #2b3035;
    background-clip: padding-box;
    border: 2px solid #3b4147;
    /* border-radius: var(--bs-dropdown-border-radius); */
    border-radius: 20px;
    padding: 15px;
    box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a:hover {
    background-color: var(--bs-dropdown-link-hover-bg);
    color: var(--bs-dropdown-link-hover-color);
    border-radius: 9px; /* или любое другое значение радиуса */
}

.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #212529;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: transparent;
}

.profile-icon {
    text-decoration: none;
    width: 30px;
    height: 30px;
    position: relative;
    transition: background-color 0.1s, color 0.3s; /* Плавный переход */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2b3035; /* Цвет текста при наведении */

    /*color: inherit;*/
}

.profile-icon:hover {
    /*background-color: rgb(33, 37, 41); !* Цвет фона при наведении *!*/
    color: #fff; /* Цвет текста при наведении */
}


.telegram-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0088cc;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.telegram-button:hover {
    background-color: #007bb5;
}

.telegram-button i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    background-image: url('https://telegram.org/img/t_logo.png'); /* Telegram logo */
    background-size: contain;
    background-repeat: no-repeat;
}


.divider {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    align-items: center;
    justify-content: center;
    /*width: 320px;*/
    vertical-align: baseline;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #dee2e6;
}

.divider::before {
    margin-right: .85em;
}

.divider::after {
    margin-left: .85em;
}

.telegram-button-navbar {
    display: inline-block;
    padding: 0.35rem 1.1rem;
    background-color: #0088cc;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.telegram-button-navbar:hover {
    background-color: #007bb5;
}

.telegram-button-navbar i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    background-image: url('https://telegram.org/img/t_logo.png'); /* Telegram logo */
    background-size: contain;
    background-repeat: no-repeat;
}


.content-block:last-child {
    margin-bottom: 0 !important;
}

.dropdown-menu[data-bs-popper] {
    top: 40px;
    left: -225px;
    margin-top: var(--bs-dropdown-spacer);
}


.content-main {
    padding: 1rem; /* 16px */
}

@media (min-width: 576px) {
    .content-main {
        padding: 1.5rem; /* 24px */
    }
}


.custom-w-100-w-sm-75 {
    width: 75%;
}

@media (max-width: 576px) {
    .custom-w-100-w-sm-75 {
        width: 100%;
    }
}


.scrollable-container {
    max-height: 600px;
    overflow-y: auto;
}

.scrollable-container::-webkit-scrollbar {
    width: 8px;
}

.scrollable-container::-webkit-scrollbar-track {
    background-color: #505051;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 12px;

}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: #343a40;
    border-radius: 10px;
    border: 2px solid rgba(248, 249, 250, 0.18);

}



.shadow-container {
    /*box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3); !* Внутренняя тень для всего блока ссылок *!*/
    /*padding: 10px; !* Добавление внутреннего отступа для содержимого *!*/
    /*border-radius: 10px; !* Скругление углов для лучшего визуального эффекта *!*/
    /*background-color: #0d6efd; !* Темный фон для контраста с белым текстом *!*/
}


.btn-continue-login {
    width: 100%; /* Ширина кнопки */
    height: 58px; /* Высота кнопки */
    border-radius: 6.7px; /* Радиус углов кнопки */
    background-color: #313d49; /* Цвет фона кнопки */
    border: 1.5px solid #495057; /* Цвет границы кнопки */
    color: #b8b8b8; /* Цвет текста на кнопке */
    font-size: 16px; /* Размер шрифта текста */
    cursor: pointer; /* Указатель при наведении на кнопку */
    transition: border-color 0.3s ease; /* Плавное изменение цвета границы */
}

.btn-continue-login:hover {
    border-color: #f3f3f3; /* Изменение цвета границы при наведении */
    color: #f3f3f3;
}




.btn-main{
    border-radius: 5px !important;
    height: 50px !important;

}

.scrollable-container {
    max-width: 100%; /* Обеспечивает, что контейнер не выйдет за границы */
    overflow-y: auto; /* Включает только вертикальную прокрутку */
    overflow-x: hidden; /* Отключает горизонтальную прокрутку */
}

.bd-callout-info {
    --bd-callout-color: var(--bs-info-text-emphasis);
    --bd-callout-bg: var(--bs-info-bg-subtle);
    --bd-callout-border: var(--bs-info-border-subtle);
}