:root {
    --accent: #6e48ad;
    --accent-bg: white;
    --bg: #fff;
    --text: #212121;
    --text-light: #585858;
    --border: #d8dae1;
    --code: #d81b60;
    --preformatted: #444;
}

article {
    background-color: var(--marked);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 1em;
    margin: 1em 0;
}

h2 {
    text-align: center;
}

h6 {
    text-align: center;
}

h2, h4 {
    margin-top: 0;
}

hr {
    background: var(--accent);
    border-color: var(--accent);
}


select, textarea {
    width: 100%;
}

input {
    width: 100%;
}

.button-container input {
    display: inline-block;
    width: 150px;
    height: 40px;
    font-size: 16px;
    margin-right: 10px; /* Добавляет небольшое расстояние между кнопками */
}


.button-container {
    display: flex;
    justify-content: space-between; /* Распределить кнопки равномерно по контейнеру */
}

.inline-radio {
    display: inline-block;
    margin-right: 10px;
}

.inline-text {
    display: inline-block;
    width: 200px; /* Вы можете изменить ширину по мере необходимости */
    margin-left: 10px;
    margin-top: 0px;
}

label[for='id_text'] {
    font-size: 0.7em;
}

h7 {
    display: block;
}

.countdown-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: Arial, sans-serif;
}

.countdown-item {
    text-align: center;
}

.countdown-number {
    font-size: 2em;
    font-weight: bold;
}

.countdown-label {
    font-size: 1em;
}

.countdown-title {
    text-align: center;
    font-size: 0.8em;
}